<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Welcome to Critica</h1>
		<p class="lead">Get ready to review and rate your fav dishes on the go!!</p>
		<a href="/restaurants/new" class="btn btn-primary">Add a new restaurant</a>
	</div>
	
		<div class="container-fluid">
			<div class="container">
			<button id='filterBtn'>Filters</button>
			<div class="row">
			<% restaurants.forEach(function(rest){ %>
				<div class="col-md-4">
					<div class="card rest-card" style="width: 18rem;">
						<img src=<%=rest.restaurant.featured_image%> class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">
								<a href='/<%=rest.restaurant.id%>/details' class='main-link'><%=rest.restaurant.name%></a>
							</h5>
							<p class="card-text">
							user rating: <strong><%=rest.restaurant.user_rating.aggregate_rating%></strong>/5
							(<%=rest.restaurant.all_reviews_count%> reviews)<br>
							Cost for 2:<%= rest.restaurant.average_cost_for_two%>
							Contact: <%=rest.restaurant.phone_numbers%></p>
						</div>
					</div>
				</div>
			<% }) %>
			</div>
			</div>	
		</div>
</div>
<%- include('./components/modals/filterModal') %> 
<%- include("partials/footer") %>