<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Welcome to Critica</h1>
		<p class="lead">Get ready to review and rate your fav dishes on the go!!</p>
		<a href="/restaurants/new" class="btn btn-primary">Add a new restaurant</a>
	</div>
	
		<div class="container-fluid">
			<div class="container">
				<% city.location_suggestions.forEach(function(loc){ %>
					<h1>
						<%= loc.name %>
					</h1>
			<%	})	%>
			<div class="row">
			<% data.restaurants.forEach(function(rest){ %>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src=<%=rest.restaurant.featured_image%> class="card-img-top">
						<div class="card-body">
							<h5 class="card-title"><%=rest.restaurant.name%></h5>
							<p class="card-text">location:<%=rest.restaurant.location.address%>,<%=rest.restaurant.location.locality%>,
							<%=rest.restaurant.location.city%><br>
							user rating: <%=rest.restaurant.user_rating.aggregate_rating%><br>
							reviewed by <%=rest.restaurant.all_reviews_count%> people<br>
							Contact: <%=rest.restaurant.phone_numbers%></p>
							<form action="/<%=rest.restaurant.id%>/details" method='GET'>
								<input type="submit" class="btn btn-primary" value="view restaurant"/>
							</form>
						</div>
					</div>
				</div>
			<% }) %>
			</div>
			</div>	
		</div>
</div>

<%- include("partials/footer") %>