<%- include("partials/header") %>
<%- include('./components/modals/loginModal.ejs') %> 
	<div class="home-page-header common">
		<div class="banner-login">
			<div class="sign-in-buttons">
					
				<% if(!currentUser){ %>
						<button id="loginBtn" data-toggle="modal" data-target="#loginModal">
							<i class="fas fa-sign-in-alt"></i>login
						</button>
						<a class="nav-link" href="/register">
							<i class="fas fa-user-plus"></i>Signup
						</a>
					<% }else{ %>

							<div class="dropdown">
								<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
									<%= currentUser.firstName %>
								</a>
								
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="/user/<%=currentUser.id%>">Profile</a></li>
									<li><a class="dropdown-item" href="#">Bookmarks</a></li>
									<li><a class="dropdown-item" href="/logout">logout</a></li>
								</ul>
							</div>
							<% } %>
		</div>
		</div>
		<div>
		<div class="home-page-header-contents common">
			<h1>Critica</h1>
			<div>Discover food & drinks around you!</div>
		</div>

			<div class="input-group mb-3 mt-5">
				<form action="/results" class="form-inline">
				<button class="btn btn-outline-secondary dropdown-toggle dropdown-location" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
				<input id="city" type="hidden" name="city" />
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item" href="#">Detect current location</a></li>
				  <!-- <li><hr class="dropdown-divider"></li> -->
				</ul>
				<input type="text" class="form-control" name="rest" placeholder="Enter name of restaurant" aria-label="Text input with dropdown button">
				<button id="searchBtn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			  </div>
			</div>
	</div>
	<div class="collections">
		<% collections.forEach(item => { %>
			<div class="restaurant-collection-card">
			<a href="/collection/<%= item.collection.collection_id%>">
			<div class="restaurant-collection-card-content">
				<div class="restaurant-collection-card-image">
					<img id="cardImg" src="<%= item.collection.image_url%>"/>
				</div>
				<div class="restaurant-collection-card-text">
						<h6><%= item.collection.title%></h6>
						<h6><%= item.collection.res_count%> Places</h6>
					</div>
					
				</div>
			</a>
		</div>
		<% }); %>
	</div>

		<%- include("./components/toast.ejs") %>

	  <script type="text/javascript">
		
	  	if(<%=loggedIn%>)  showToast('login-toast','Logged In!');

		else if(<%=loggedOut%>)	showToast('login-toast','Logged Out!');

		else if(<%=deletedAccount%>)	showToast('login-toast','Account Deleted!');

	  </script>
<%- include("partials/footer") %>