<%- include("partials/header") %>

	<div class="container user_profile">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-thumbnail img-fluid" src="<%=user.avatar%>" >
				</div>
				<div class="col-md-6">
					<h1 id="user_name"><%= user.firstName %> <%= user.lastName %></h1>
					<h5><i class="far fa-envelope"></i> <a href="#"><%= user.email %></a></h5>
					<h5><i class="fas fa-phone"></i> <a href="#"><%= user.contact %></a></h5>
					<% if(restaurant!=null) %>
						<p style="text-decoration:underline;">Bookmarked restaurants:</p>
						<ul>
							<% restaurant.forEach((restaurant)=>{ %>
								<li>
									<a href="/<%=restaurant.res_id%>/details"><%= restaurant.name %></a>
									<form action="/<%=restaurant.res_id%>/<%=user._id%>/delete" 
										method="GET">
										<button><i class="fas fa-trash"></i></button>
									</form>
								<% }) %>
						</ul>
						<p>-------Your Reviews-----</p>
						<% if(user.Reviews.length==0){ %>
						<p>You have'nt reviewed any restaurants yet!</p>
							<% } %>
						<ul>
							<% user.Reviews.forEach((review)=>{ %>
								<li>
									<%= review.text%> ---
									 <a href="/<%=review.rest_id%>/details"><%= review.rest_name %></a>
									 <form action="/<%=review.rest_id%>/<%=user._id%>/reviews/delete" 
										method="GET">
										<button><i class="fas fa-trash"></i></button>
									</form>
								</li>
							<% }) %>
						</ul>

						<form action="/<%=user._id%>/edit" method="GET">
							<button>Edit</button>
						</form>
				</div>
			</div>

		</div>
	</div>
<%- include("partials/footer") %>