<%- include("partials/header") %>

	<div class="container user_profile">
		<div class="container-fluid">

			<div class='profile-header'>
				<div class="profile-header-content">
				<div class='profile-header-image'>
					<img src="<%=user.avatar%>" />
					<div class='profile-header-info'>
						<div><%= user.firstName %> <%= user.lastName %></div>
						<div><%= user.email %> </div>
						<div><%= user.contact %> </div>
					</div>
				</div>

				<div class="profile-header-stats">
					<a href="/<%=user._id%>/edit">
						<button id='profile-edit-btn' class='btn btn-warning'>
							Edit profile
						</button>
					</a>
					<div class='profile-stats'>
						<div><%=userReviews.length%> <span>Reviews</span></div>
						<div><%=favourites.length%> <span>Favourites</span></div>
					</div>
				</div>
			</div>
			</div>
			<div class="content">
			<div class="list-group">
				<div class="list-group-item list-group-item-action">Activity</div>
				<a href="/user/<%= user._id%>" class="list-group-item list-group-item-action "  id=<%= reviews?"active-list-item":""%> aria-current="true">
					<h4>Reviews</h4>
				  </a>
				  <a href="/user/<%= user._id%>/bookmarks" class="list-group-item list-group-item-action" id=<%= bookmarks?"active-list-item":""%> >
					  <h4>Bookmarks</h4>
				  </a>
				  <a href="#" class="list-group-item list-group-item-action">
					  <h4>Recently viewed</h4>
				  </a>
			</div>
			<div class="user-choosen-content">
			<!-- dynamic content goes here -->
			<% if (reviews) { %>
				<%- include("reviews") %>
			 
			<%}else if (bookmarks) { %>
					<%- include("bookmarks") %>
				<% } %>
		</div>
		</div>
		</div>
	</div>
<%- include("partials/footer") %>